# Look for Vim...
EDITOR="$(command -v vim)"
if [ -z "$EDITOR" ]; then
	# ...but use vi if Vim doesn't exist.
	EDITOR=vi
fi
VISUAL=$EDITOR
export EDITOR VISUAL

# Add ~/.bin and /usr/local/sbin to path
export PATH=$PATH:/usr/local/sbin:~/.bin

# Python startup for autocomplete enabling
export PYTHONSTARTUP=~/.pythonrc
