[alias]
    sp = stash pop
    sl = stash list
    ss = stash
    st = status
    ci = commit
    co = checkout
    br = branch
    ls = log --oneline --graph
    pr = pull --rebase
[user]
    name = Tyler Bailey
    email = baileytj3@gmail.com
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto
[core]
    excludefile = ~/.gitignore_global
    whitespace = trailing-space,space-before-tab
[push]
    default = tracking
[url "git@github.com:"]
    insteadOf = github:
